
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<h5>学生地带首页信息管理</h5>
			<hr class="primary" style="border:1px solid blue">

		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<ul id="me" class="nav nav-pills nav-stacked nav-list  affix span3" style="font-size:12px">
						<li><a href="#" onclick="getcatgray(1)">资讯.下载.视频.视觉区管理</a></li>
						
						
						<li><a href="#" onclick="getcatgray(2)">故问区管理</a></li>
						<li><a href="#" onclick="getcatgray(3)">市场区管理</a></li>
						<li><a href="#" onclick="getcatgray(4)">专题管理</a></li>
						<li class="active"><a href="#" onclick="getcatgray(5)">通知公告管理</a></li>

						<li><a href="#" onclick="getcatgray(6)">维护发布内容</a></li>	

						<li><a href="#" onclick="getcatgray(7)">退出系统</a></li>	

					</ul>

				</div>
				<div class="span9">
					
					<div class="pagination pagination-small pull-right" >
								<ul>
									<li class="disabled"><a href="#">共有100条记录，这是第1页</a> </li>
								</ul>
								<ul>
									<li><a href="#">&lsaquo;&lsaquo;</a></li>
									<li><a href="#">1</a> </li>

									<li><a href="#">2</a> </li>

									<li><a href="#">3</a> </li>
									<li><a href="#">5</a> </li>

									<li><a href="#">6</a> </li>

									<li><a href="#">&rsaquo;&rsaquo;</a></li>

								</ul>
					</div>

				</div>
			</div>

		</div>


	</div>



</body>
